*.a
*.o
*.la
*.lo
*.so
*.slo
*.exe
*.dll
*.class
*.stamp
*.csproj.user
.win32
.unix
.deps
.libs
.mxe.bashrc
00.Local/
bin/
lib/
tmp/
contrib/private/
include/libpagekite/
contrib/Windows-GUI/bin/
contrib/Windows-GUI/obj/
contrib/relays/pagekiter
libpagekite/pklualua.h
httpkite
pagekitec
sshkite
tests
*.swp
configure
configure_aux
config.log
config.status
config.guess
config.sub
depcomp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.o
*.a
*.lo
*.la
libtool
.libs
autoconfig.h
autoconfig.h.in
autoconfig.h.in~
config.h
config.h.in
config.h.in~
stamp-h1
compile
.depsa
ar-lib
install-sh
ltmain.sh
missing
m4/*
*.tar.gz
libpagekite.pc
build
tags
